* {
	margin: 0px;
	padding: 0px;
}
img {max-width:100%;}
.container{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.bio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom: 20px;
}

.profilePic{
    display: flex;
    width: 600px;
    height: 350px;
    

}
.linkButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    padding: 5px;
}
.linkButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    border: 100px solid rgb(0, 0, 0);
    border-width: 2px;
    padding: 17px;
  
    width: 200px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  
    border-radius: 40px;
  
    font-size: 18px;
}
