* {
	margin: 0px;
	padding: 0px;
}
.container{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom: 50px;
}

.profilePic{
    width: 500px;
    height: auto;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    font-family: Impact;

}
